[Unit]
Description=Jenkins Continuous Integration Server
Requires=docker.service
After=docker.service systemd-networkd.service systemd-resolved.service
Documentation=http://github.com/vmware/harbor

[Service]
Type=simple
RestartSec=5
ExecStart=/usr/bin/docker-compose -f /root/.dzrepo/harbor/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /root/.dzrepo/harbor/docker-compose.yml down
Restart=on-failure

[Install]
WantedBy=multi-user.target
